    <!-- Header con toolbar -->
  <mat-toolbar class="gamification-navbar">
    <div class="navbar-left">
      <img src="mybills.ico" alt="MyBills Logo" class="navbar-logo">
      <span class="navbar-title">MyBills - Trasforma le tue bollette in un gioco!</span>
    </div>
    <span class="header-spacer"></span>
    <button mat-icon-button color="accent" matTooltip="Logout" (click)="logout()" class="logout-navbar-btn">
      <mat-icon style="color: #24dd3d; font-size: 28px;">logout</mat-icon>
    </button>
  </mat-toolbar>
  <!-- Aggiungere logout nel TS-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/bollette']">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </a>
      <!--<a mat-list-item [routerLink]="['/bollette']">
        <mat-icon matListItemIcon>receipt</mat-icon>
        <span matListItemTitle>Bollette</span>
      </a>-->

      <a mat-list-item [routerLink]="['/salary']">
        <mat-icon matListItemIcon>account_balance_wallet</mat-icon>
        <span matListItemTitle>Stipendio</span>
      </a>
      <a mat-list-item [routerLink]="['/statistiche']">
        <mat-icon matListItemIcon>analytics</mat-icon>
        <span matListItemTitle>Statistiche</span>
      </a>
      <a mat-list-item [routerLink]="['/offerte']">
        <mat-icon matListItemIcon>local_offer</mat-icon>
        <span matListItemTitle>Offerte</span>
      </a>
      <a mat-list-item [routerLink]="['/gamification']">
        <mat-icon matListItemIcon>sports_esports</mat-icon>
        <span matListItemTitle>Accedi e vinci</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <div class="gamification-flex">
    <div class="gamification-card">
      <h2>I miei progressi</h2>
      <div class="livello-row">
        <span class="livello">Livello {{ livello }}</span>
        <span class="punti">
          <mat-icon class="star">star</mat-icon>
          {{ punti }} pt
        </span>
      </div>
      <div class="progress-bar">
        <div class="progress" [style.width]="percentualeCompletamento + '%'">
        </div>
      </div>
      <div class="sconto-row">
        <mat-icon style="color: #43A047">local_offer</mat-icon>
        <span>Sconto attuale: {{ sconto }}%</span>
      </div>
      <!-- CLASSIFICA UTENTI SOTTO LA CARD -->
      <div class="classifica-container">
        <h2 style="margin-top: 32px; text-align:center;">Classifica utenti</h2>
        <table class="classifica-table">
          <thead>
            <tr>
              <th>Posizione</th>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Punti</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let utente of classifica; let i = index" [ngClass]="{'primo': i === 0, 'secondo': i === 1, 'terzo': i === 2}">
              <td>
                <ng-container [ngSwitch]="i">
                  <span *ngSwitchCase="0" class="medaglia medaglia-oro" title="Oro">🥇</span>
                  <span *ngSwitchCase="1" class="medaglia medaglia-argento" title="Argento">🥈</span>
                  <span *ngSwitchCase="2" class="medaglia medaglia-bronzo" title="Bronzo">🥉</span>
                  <span *ngSwitchDefault>{{ i + 1 }}</span>
                </ng-container>
              </td>
              <td>{{ utente.nome }}</td>
              <td>{{ utente.cognome }}</td>
              <td>{{ utente.punti }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="gamification-description">
      <div class="gamification-title-row header-blu">
        <span class="material-icons gamification-title-icon">sports_esports</span>
        <h1 class="gamification-title">Accedi e vinci</h1>
      </div>
      <div class="gamification-text">
        Trasforma la gestione delle bollette in un’esperienza più coinvolgente e motivante.
        Pagare puntualmente, ridurre i consumi o effettuare accessi giornalieri
        ti permette di guadagnare punti, salire di livello e avere diritto a sconti esclusivi.<br><br>
        <!--<span>
          🔹 <b>Badge:</b> Riconoscimenti per i tuoi traguardi (es. puntualità, risparmio, accessi)
        </span><br>-->
        <span>
          🔹 <b>Punti MyBills:</b> Accumulabili e visibili nel tuo profilo
        </span><br>
        <!--<span>
         🔹 <b>Sfide mensili:</b> Obiettivi da completare ogni mese per ottenere premi virtuali
        </span><br>-->  
        <span>
          🔹 <b>Livelli utente:</b> Più punti ottieni, più sali di livello e sblocchi vantaggi
        </span>
      </div>
    </div>
  </div>
</mat-sidenav-container>
