<!--<div class="carte-container">
  <div *ngFor="let bolletta of bollette" class="carta" [class.pagata]="bolletta.pagata" (click)="apriForm(bolletta)">
    <div>Nome: {{ bolletta.nomeTitolare }} {{ bolletta.cognomeTitolare }}</div>
    <div>Codice Carta: **** **** **** {{ bolletta.codiceCarta.slice(-4) }}</div>
    <div>Scadenza: {{ bolletta.scadenza }}</div>
    <div *ngIf="bolletta.pagata" class="pagata-label">Pagata</div>
  </div>
</div>-->

<!-- Form pagamento -->
<div *ngIf="bolletta" class="form-pagamento-overlay">
  <div class="form-pagamento">
    <h3>Pagamento Bolletta</h3>
    <div *ngIf="bolletta">
      <div><b>ID:</b> {{bolletta?.idBolletta || bolletta?.id}}</div>
      <div><b>Importo:</b> €{{bolletta?.importo}}</div>
      <div><b>Tipologia:</b> {{bolletta?.tipologia || bolletta?.tipo}}</div>
      <div><b>Scadenza:</b> {{bolletta?.scadenza }}</div>
    </div>
    <form (ngSubmit)="effettuaPagamento()">
      <label>Nome titolare:<br>
        <input [(ngModel)]="pagamentoForm.nomeTitolare" name="nomeTitolare" required />
      </label><br>
      <label>Cognome titolare:<br>
        <input [(ngModel)]="pagamentoForm.cognomeTitolare" name="cognomeTitolare" required />
      </label><br>
      <label>Codice carta:<br>
        <input [(ngModel)]="pagamentoForm.codiceCarta" name="codiceCarta" maxlength="16" required />
      </label><br>
      <label>CVV:<br>
        <input [(ngModel)]="pagamentoForm.cvv" name="cvv" maxlength="4" required />
      </label><br>
      <label>Scadenza (MM/YY):<br>
        <input [(ngModel)]="pagamentoForm.scadenza" name="scadenza" maxlength="5" required />
      </label><br>
      <div *ngIf="erroreScadenza" class="errore">{{ erroreScadenza }}</div>
      <button type="submit">Paga</button>
      <button type="button" (click)="chiudiForm()">Annulla</button>
    </form>
  </div>
</div>
