<div *ngIf="bolletta" class="popup-overlay">
  <div class="popup-content">
    <h3>Pagamento Bolletta</h3>
    <div *ngIf="bolletta">
  <div><b>ID:</b> {{bolletta.idBolletta || bolletta.id}}</div>
  <div><b>Importo:</b> €{{bolletta.importo}}</div>
  <div><b>Tipologia:</b> {{bolletta.tipologia || bolletta.tipo}}</div>
  <div><b>Scadenza:</b> {{bolletta.scadenza}}</div>
  <br>
    </div>
    <form (ngSubmit)="effettuaPagamento()">
      <label>Nome titolare:
        <input [(ngModel)]="pagamentoForm.nomeTitolare" 
               name="nomeTitolare" 
               placeholder="Mario"
               required />
      </label>
      <label>Cognome titolare:
        <input [(ngModel)]="pagamentoForm.cognomeTitolare" 
               name="cognomeTitolare" 
               placeholder="Rossi"
               required />
      </label>
        <label>Codice carta:
          <input [(ngModel)]="pagamentoForm.codiceCarta" 
                 name="codiceCarta" 
                 maxlength="19" 
                 placeholder="1234 5678 9012 3456"
                 (input)="formatCodiceCarta($event)"
                 pattern="^[0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4}$" 
                 required />
        </label>
        <label>CVV:
          <input [(ngModel)]="pagamentoForm.cvv" 
                 name="cvv"
                 maxlength="3" 
                 placeholder="123"
                 pattern="^[0-9]{3}$" 
                 required />
        </label>
          <label>Scadenza (MM/AA):
            <input [(ngModel)]="pagamentoForm.scadenza" 
                   name="scadenza" 
                   maxlength="5" 
                   placeholder="12/25"
                   (input)="formatScadenza($event)"
                   pattern="^(0[1-9]|1[0-2])\/([0-9]{2})$" 
                   required />
          </label><br>
      <div *ngIf="erroreScadenza" class="errore">{{ erroreScadenza }}</div>
      <br>
      <button type="submit">Effettua pagamento</button>
      <button type="button" (click)="chiudiPopup()">Annulla</button>
    </form>
  </div>
</div>
